.discover_dropdown {
  width: 130px;
  height: 30px;
  margin-bottom: 40px;
  color: #6e6e6e;
}

.div_dropdown {
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.neg_margin_header {
  margin-bottom: -10px;
}

.positive_margin {
  margin: -30px 0px 50px 0px;
}
